body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1345px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:465px;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:112px;
  width:584px;
  height:465px;
}
#u1855_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:512px;
  width:142px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:512px;
  width:142px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:413px;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:89px;
  width:616px;
  height:413px;
}
#u1858_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:727px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:197px;
  height:727px;
}
#u1860_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u1861 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:18px;
  width:389px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u1861_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  white-space:nowrap;
}
#u1862 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:197px;
  width:81px;
  height:20px;
}
#u1862_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u1864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1864 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:59px;
  height:20px;
}
#u1864_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u1865 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:317px;
  width:81px;
  height:20px;
}
#u1865_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u1867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1867 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:59px;
  height:20px;
}
#u1867_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u1868 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:227px;
  width:101px;
  height:80px;
}
#u1868_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u1870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1870 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1870_img.selected {
}
#u1870.selected {
}
#u1870_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1871 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:59px;
  height:20px;
}
#u1871_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u1869_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1872 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:81px;
  height:20px;
}
#u1873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1873 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:59px;
  height:20px;
}
#u1873_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u1874 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:81px;
  height:20px;
}
#u1875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1875 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:59px;
  height:20px;
}
#u1875_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u1876 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:81px;
  height:20px;
}
#u1877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1877 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:59px;
  height:20px;
}
#u1877_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u1878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1878 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:103px;
  width:29px;
  height:17px;
}
#u1878_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1879 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:532px;
  width:28px;
  height:20px;
}
#u1879_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u1881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1881 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:6px;
  height:20px;
}
#u1881_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u1882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:12px;
}
#u1882 {
  border-width:0px;
  position:absolute;
  left:1263px;
  top:29px;
  width:21px;
  height:12px;
}
#u1882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1883 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:135px;
  width:108px;
  height:20px;
}
#u1883_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
}
#u1885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1885 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u1885_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u1886 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:165px;
  width:81px;
  height:20px;
}
#u1886_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u1888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1888 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:59px;
  height:20px;
}
#u1888_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u1889 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:347px;
  width:81px;
  height:20px;
}
#u1889_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u1891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1891 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:59px;
  height:20px;
}
#u1891_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u1892 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:377px;
  width:81px;
  height:20px;
}
#u1892_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u1894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1894 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:59px;
  height:20px;
}
#u1894_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u1895 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:407px;
  width:108px;
  height:20px;
}
#u1895_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
}
#u1897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1897 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u1897_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u1898 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:437px;
  width:141px;
  height:60px;
}
#u1898_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u1900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1900 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1900_img.selected {
}
#u1900.selected {
}
#u1900_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1901 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:59px;
  height:20px;
}
#u1901_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u1899_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1902 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:121px;
  height:20px;
}
#u1903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1903 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:99px;
  height:20px;
}
#u1903_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:94px;
  white-space:nowrap;
}
#u1904 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:108px;
  height:20px;
}
#u1905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1905 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u1905_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u1906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-align:left;
}
#u1906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:72px;
  font-size:28px;
  text-align:left;
}
#u1906_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:1341px;
  word-wrap:break-word;
}
#u1907 {
  position:absolute;
  left:1214px;
  top:51px;
  visibility:hidden;
}
#u1907_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:128px;
  height:90px;
  background-image:none;
}
#u1907_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:128px;
  height:45px;
}
#u1910_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:124px;
  word-wrap:break-word;
}
#u1911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:45px;
}
#u1911_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:124px;
  word-wrap:break-word;
}
#u1912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1912 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:27px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u1912_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:12px;
}
#u1913 {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:31px;
  width:21px;
  height:12px;
}
#u1913_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1914 {
  position:absolute;
  left:357px;
  top:203px;
  visibility:hidden;
}
#u1914_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:413px;
  height:308px;
  background-image:none;
}
#u1914_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:308px;
}
#u1915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:308px;
}
#u1915_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1916 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:265px;
  width:106px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
